@mixin container($max-width:"120rem",$padding:"2rem"){
	width: 100%;
	max-width: #{$max-width};
	padding: 0 #{$padding};
	margin: 0 auto;
}

@mixin bg($size:"cover", $position: "center") {
	background-size: #{$size};
	background-position: #{$position};
	background-repeat: no-repeat;
}

@mixin breakpoint($bp) {
    @media screen and (max-width: $bp) {
        @content;
    }
}

@mixin flex($align-items: "center", $justify-content: "space-between") {
	display: flex;
	align-items: #{$align-items};
	justify-content: #{$justify-content};
}