body {
    &.light-theme {
        background-color: $white;

        .btn {
            &:disabled {
                background-color: #f7ecec;
            }
        }

        .modal__content {
            background-color: #f7ecec;
        }
        .modal__close, .modal__item-desc, .modal__title {
            color: black;
        }
        .modal__input {
            color: black;
        
            &::placeholder {
                color: lighten(black, 10%);
            }
        }

        .modal__time {
            color: #b99999;
        }

        .time__alarmclock {
            background-color: #f7ecec;
            box-shadow: 0 0 7px 5px #f7ecec;
        }

        .time__alarmclock-title {
            color: black;
        }
    }

}

.header {
    &.light-theme {
        background-color: #f7ecec;
        color: black;
        box-shadow: 0px 0px 10px 5px #f7ecec;

        .header__link {
            color: black;
        }

        .header__burger, 
        .header__burger::after, 
        .header__burger::before {
            background-color: black;
        }
    }
}

.footer {
    &.light-theme {
    background-color: #f7ecec;
    color: black;
    box-shadow: 0px 0px 10px 5px #f7ecec;

    .footer__logo-link,
    .footer__link,
    .footer__copyright  {
        color: black;
    }

    .footer__link {
        &:hover,
        &:active,
        &:focus {
            color: lighten(black, 40%);
        }
    } 
    }
}

.sidebar {
    &.light-theme {
        background-color: #f7ecec;

        .sidebar__item {
            &:hover {
                background-color: darken(#f7ecec, 10%);
            }
        
            &.active {
                background-color: darken(#f7ecec, 5%);
            }
        }

        .sidebar__link {
            color: black;
        }
    }
}