@import "vendor/reset";
@import "vars";
@import "scrollbar";
@import "fonts";
@import "mixins";

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: black;
    font-size: 1.4rem;
    color: white;
    font-family: 'Comfortaa';
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    transition: all linear 0.5s;
    
    &.no-scroll {
        overflow: hidden;
    }

}


@import "blocks/page";
@import "blocks/header";
@import "blocks/sidebar";
@import "blocks/footer";
@import "blocks/time";
@import "blocks/btn";
@import "blocks/lap";
@import "blocks/modal";
@import "theme.scss";