.footer {
    padding: 2rem;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 0px 10px 5px $black;
    transition: all linear 0.5s;
}

.footer__logo {
    margin-bottom: 2rem;
}

.footer__logo-link {
    color: $white;
    text-decoration: none;
    font-size: 3rem;
    font-family: 'Rubik Iso';
}

.footer__contacts, 
.footer__social {
    @include flex(center, center);
    margin-bottom: 2rem;
}

.footer__contacts {
    @include breakpoint($mobile-small) {
        flex-wrap: wrap;

        .footer__link {
            margin-bottom: 1rem;
        }
    }
}

.footer__link {
    color: $secondary;
    text-decoration: none;
    font-size: 1.6rem;
    transition: all linear .2s;
    margin: 0 1rem;
    text-transform: uppercase;

    &:hover,
    &:active,
    &:focus {
        color: lighten($secondary, 20%);
    }

    &--lower {
        text-transform: lowercase;
    }
}

.footer__copyright {
    margin-top: 1rem;
    color: $secondary; 
    line-height: 1.2;
    text-align: center;
}