.header {
    padding: 2rem;
    @include flex;
    background-color: $primary;
    box-shadow: 0px 0px 10px 5px $black;
    transition: all linear 0.5s;
    margin-bottom: 10rem;
}

.header__link {
    color: $white;
    text-decoration: none;
    font-size: 2em;
    font-family: 'Rubik Iso';
}

.header__settings {
    @include flex;
}

.header__theme {
    cursor: pointer;
    margin-left: 2.5rem;
}

.header__icon {
    width: 3.5rem;
}

.header__burger {
    display: none;
    width: 30px;
    cursor: pointer;
    position: relative;
    z-index: 100;
    height: 1px;
    background-color: $white;

    &::after,
    &::before {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $white;
        transition: all linear .2s;
    }

    &::before {
        top: -8px;
        transform: rotate(0);
    }

    &::after {
        bottom: -8px;
        transform: rotate(0);
    }

    &.close {
        height: 0px;

        &::before {
            transform: rotate(45deg);
            top: -1px;
        }
    
        &::after {
            transform: rotate(-45deg);
            bottom: 0;
        }
    }

    @include breakpoint($mobile) {
        display: block;
    }
}