.lap {
    margin: 0 auto;
    display: none;
    width: 39rem;
    transition: all linear 0.3s;
    
    &.show {
        display: block;
    }
    
    @include breakpoint($mobile-small) {
        width: 29rem;
    }
}

.lap__item {
    transition: all linear 0.3s;

}

.lap__caption {
    padding: 0.8rem;
    color: $red;
    font-size: 2rem;
    border: 1px solid $red;
    text-align: center;

    @include breakpoint($mobile-small) {
        font-size: 1.6rem;
        padding: 0.5rem;
    }
}

.lap__measurement {
    padding: 1rem;
    text-align: center;
    color: $red;
    font-size: 1.8rem;
    border: 1px solid $red;

    @include breakpoint($mobile-small) {
        font-size: 1.4rem;
        padding: 1rem 0.5rem;
    }
}