.time {
    padding: 0 2rem;
    margin-bottom: 10rem;
    padding-bottom: 186px;
}

.time__title {
    font-size: 5em;
    text-align: center;
    color: $red;
    margin-bottom: 2rem;
    text-transform: uppercase;

    @include breakpoint($mobile) {
        font-size: 4.2rem;
    }

    @include breakpoint($mobile-small) {
        font-size: 3.6rem;
        margin-bottom: 1rem;
    }
}

.time__time {
    font-family: 'Rubik Iso';
    font-size: 6em;
    transition: all linear .2s;
    text-align: center;
    margin-bottom: 2rem;
    color: $red;
    transition: all linear .1s;

    .span-stopwatch {
        width: 12.5rem;
        display: inline-block;
    }

    .span-timer {
        width: 12rem;
        display: inline-block;
    }

    @include breakpoint($tablet) {
        &--stopwatch {
            font-size: 5em;
        }

        .span-stopwatch {
            width: 9.5rem;
        }
    }

    @include breakpoint($mobile) {
        &--stopwatch {
            font-size: 4em;
        }

        .span-stopwatch {
            width: 8rem;
        }

        .span-timer {
            width: 11rem;
        }
    }

    @include breakpoint($mobile-small) {
        font-size: 4rem;
        margin-bottom: 1rem;

        &--stopwatch {
            font-size: 3.8rem;
        }

        &--timer {
            font-size: 4.5rem;
        }

        .span-stopwatch {
            width: 5rem;
        }

        .span-timer {
            width: 7rem;
        }
    }
}

.time__date {
    margin-bottom: 2rem;
    color: $red;
    text-align: center;
    font-size: 2em;

    @include breakpoint($mobile-small) {
        font-size: 1.8rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
}

.time__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.time__alarmclock {
    display: none;
    max-width: 70vw;
    margin: 0 auto ;
    padding: 3rem;
    text-align: center;
    background-color: $primary;
    box-shadow: 0 0 7px 5px $primary;
    border-radius: 4rem;

    &.show {
        display: block;
    }
}

.time__icon {
    width: 7rem;
    margin: 0 auto 2rem;
    display: block;
}

.time__alarmclock-title {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: $secondary;
}

.time__alarmclock-current {
    margin-bottom: 2rem;
    font-size: 4rem;
    font-family: 'Rubik Iso';
    color: $red;
}

.stopwatch__milliseconds {
    font-size: 0.8em;
}