<div class="modal modal--finish" id="alarmclock-finish">
    <div class="modal__content modal__content--finish" >
        <div class="modal__header">
            <h2 class="modal__title">Будильник</h2>
            <span class="modal__close close">&times;</span>
        </div>
        <div class="modal__main">
            <img src="./assets/images/sidebar/alarmclock.svg" alt="" class="modal__img">
            <div class="modal__time" id="timeAlarmclockFinish">
            </div>
        </div>
        <div class="modal__footer">
            <button id="btnChangeAlarmClock" class="btn btn--modal" data-modal="alarmclock-start" type="button">Изменить будильник</button>
            <button class="btn btn--modal close" type="button" id="btnOffSound">Ок</button>
        </div>
    </div>
</div>