<aside class="sidebar" id="sidebar">
    <ul class="sidebar__list">
        <li class="sidebar__item">
            <a href="index.html" class="sidebar__link">
                <img src="./assets/images/sidebar/clock.svg" alt="" class="sidebar__icon">
                Точное время
            </a>
        </li>
        <li class="sidebar__item">
            <a href="stopwatch.html" class="sidebar__link">
                <img src="./assets/images/sidebar/stopwatch.svg" alt="" class="sidebar__icon">
                Секундомер
            </a>
        </li>
        <li class="sidebar__item">
            <a href="timer.html" class="sidebar__link">
                <img src="./assets/images/sidebar/timer.svg" alt="" class="sidebar__icon">
                Таймер
            </a>
        </li>
        <li class="sidebar__item">
            <a href="alarmclock.html" class="sidebar__link">
                <img src="./assets/images/sidebar/alarmclock.svg" alt="" class="sidebar__icon">
                Будильник
            </a>
        </li>
    </ul>
</aside>