<div class="modal modal--finish" id="timer-finish">
    <div class="modal__content modal__content--finish">
        <div class="modal__header">
            <h2 class="modal__title">Таймер</h2>
            <span class="modal__close close">&times;</span>
        </div>
        <div class="modal__main">
            <img src="./assets/images/sidebar/timer.svg" alt="" class="modal__img">
            <div class="modal__time">
                00 : 00 : 00
            </div>
        </div>
        <div class="modal__footer">
            <button class="btn btn--modal close" type="button">ОК</button>
        </div>
    </div>
</div>