<div class="modal modal--start" id="timer-start">
    <div class="modal__content modal__content--start">
        <div class="modal__header">
            <h2 class="modal__title">Изменить таймер</h2>
            <span class="modal__close close">&times;</span>
        </div>
        <div class="modal__main">
            <form action="/" method="post" class="modal__form">
                <div class="modal__item">
                    <label for="hourTimer" class="modal__item-desc">Часы</label><br>
                    <input class="modal__input" min="0" type="number" id="hourTimer" placeholder="0" value="0">
                </div>
                <div class="modal__item">
                    <label for="minuteTimer" class="modal__item-desc">Минуты</label><br>
                    <input class="modal__input" min="0" type="number" id="minuteTimer" placeholder="0" value="0">
                </div>
                <div class="modal__item">
                    <label for="secondTimer" class="modal__item-desc">Секунды</label><br>
                    <input class="modal__input" min="0" type="number" id="secondTimer" placeholder="0"  value="0">
                </div>
            </form>
            <div class="modal__error ">
                <h3 class="modal__error-title">Ошибка</h3>
                <div class="modal__error-item"></div>
            </div>
        </div>
        <div class="modal__footer">
            <button class="btn btn--modal close" type="button">Отмена</button>
            <button id="startTimerModal" class="btn btn--modal start" type="button" >Старт</button>
        </div>
    </div>
</div>